<launch>

  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />
  <arg name="rviz_tutorial" default="false" />
  <arg name="use_gui" default="false" />

  <!-- Transformation from the Ouster OS1 lidar to the robot -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="joint_broadcaster_lidar_os1" args="0.55 0 0 3.14159265359 0 0 base_link os1_lidar" />

  <!-- Run Rviz -->
  <include file="$(find arti_navigation)/launch/rviz_arti_with_os1.launch">
    <arg name="rviz_tutorial" value="$(arg rviz_tutorial)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>
  
</launch>
