<?xml version="1.0"?>
<launch>
  <!-- Handling Parameters -->
  <arg name="record" default="false" />
  <arg name="rviz" default="false" />
  <arg name="replay" default="false" />

  <!-- Mapping Parameters -->
  <arg name="map" default="true" />
  <arg name="cartographer" default="true" />
  <arg name="octomap" default="false" />
  <arg name="hector" default="false" />

  <!-- Set time parameter if replaying data -->
  <param name="/use_sim_time" value="true" if="$(arg replay)" />

  <group if="$(arg map)">
    <!-- Run Google Carographer to create 2-D Occupancy Grid Map-->
    <include if="$(arg cartographer)" file="$(find arti_navigation)/cartographer_ros/launch/2d_cartographer.launch"/> 

    <!-- Octomap Server -->
    <include if="$(arg octomap)" file="$(find arti_navigation)/launch/octomap_server.launch">
      <arg name="frame_id" value="odom"/> 
    </include>

    <!-- Hector mapping -->
    <include if="$(arg hector)" file="$(find arti_navigation/launch/hector_mapping.launch">
      <arg name="pub_map_odom_transform" value="true"/>
    </include>
   </group>

  <!-- Record data  -->
  <node if="$(arg record)" pkg="rosbag" type="record" name="rosbag_record_all" args="-a -o $(find arti_navigation)/data/arti_rosbag"/> 

  <!-- Load RVIZ -->
  <node if="$(arg rviz)" name="rviz_map" pkg="rviz" type="rviz" args="-d $(find arti_navigation)/config/arti_with_os1.rviz">
  <arg name="rviz" value="rviz" />
  </node>


</launch>